@mixin buttons {
  padding: .8rem 0;
  border: none;
  font-family: var(--font-rubik);
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
  border-radius: 1rem;
}

.container-all{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 930px) {
    display: grid;
    grid-template: "conversor resultados"
                    /60% 40%;
    margin: 9px 10px;
    justify-items: center;
  }

}

.container-form{
  background: var(--primary-color);
  border-radius: 1rem;
  padding: .5rem 0 0 0;
  width: 97%;
  margin: .8rem 0;

  @media screen and (min-width: 930px){
    grid-area: conversor;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 35rem;
    width: 95%;
  }

}

form{
  margin: 0 .5rem;
  overflow: hidden;
  padding: 1rem 0 2rem 0;
  font-family: var(--font-rubik);

  label{
    margin: .7rem 0;
  }

  select{
    width: 100%;
    outline: none;
    height: 3rem;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    font-family: var(--font-rubik);
    font-weight: 500;
    font-size: 15px;
    padding: 0 .7rem;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input[type=number]{
    font-family: var(--font-rubik);
    margin: .6rem 0;
    padding: 1rem 1rem;
    outline: none;
    border: none;
    -webkit-appearance: textfield;
    -moz-appearance:textfield;
    text-align: right;
    font-size: 28px;
    background: var(--primary-color);
  }

  input{
    width: 100%;
  }

  .reset{
    background: #fa564f;
    @include buttons;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
      background: #fa8b83;
      cursor: pointer;
    }

  }

}

.to{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: .5rem 0;
}

.inputs{
  width: 100%;
}

.add{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--third-color);
  font-family: var(--font-rubik);
  font-size: 30px;
  color: var(--primary-color);
  cursor: pointer;
  margin: 0 1rem;
}

input[type=submit]{
  margin: 1rem 0;
  background: #00b000;
  @include buttons;

  &:hover{
    background: #008d00;
    cursor: pointer;
  }

}

.coins{
  background: var(--back-color);
  width: 100%;
  margin: 1.5rem 1rem 0 0;
  padding: .6rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media screen and (min-width: 930px){
    max-height: 8rem;
    overflow-y: auto;
  }

}

.container-result{
  //margin: 1rem 1.5rem;
  margin-bottom: .8rem;
  padding: 1rem 1.5rem;
  font-family: var(--font-rubik);
  border-radius: 1rem;
  font-size: 25px;
  font-weight: 500;
  width: 97%;
  background: var(--primary-color);

  @media screen and (min-width: 930px){
    grid-area: resultados;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    max-height: 35rem;
    overflow-y: auto;
    width: 95%;
  }

  p{
    display: flex;
    margin: .9rem 0;
    justify-content: space-between;
    border-bottom: 2px solid var(--secundary-color);
  }

  .latest{
    border: none;
    font-size: 16px;
    font-weight: 400;
  }

}
