.container-header{
  background: var(--secundary-color);
  padding: .7rem 0;
}

.container-inside{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.footer{
  background: var(--third-color);
  color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  font-family: var(--font-rubik);
  font-size: 16px;
  font-weight: 500;
}