@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root{

  --primary-color: #e3e1e1;
  --secundary-color: #9b9b9b;
  --third-color: #363636;

  --font-rubik: 'Rubik', sans-serif;

}