@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root{

  --primary-color: #f9f7f7;
  --secundary-color: #b9b9b9;
  --third-color: #363636;
  --back-color: #e2e2e2;
  --medium: 930px;

  --font-rubik: 'Rubik', sans-serif;

}